*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark{
    --primary-text-color:#fff;
    --secondry-text-color:#ddd;
    --card-background-color:#333;
    --background-color:#111; 
}
.container{
    width: auto;
    padding: 30px;
    background-color: var(--background-color);
}
.container h1{
    text-align: center;
    color: var(--primary-text-color);
}
.box{
    padding: 20px;
    background-color: var(--card-background-color);
    margin-block: 20px;
    border-radius: 20px;
   
}

.box p{
    margin-top: 20px;
    color: var(--secondry-text-color);
}
.box h2{
    margin-top: 20px;
    color: var(--secondry-text-color);
}